@font-face {
    font-family: "helvetica bold";
    src: url("./fonts/HelveticaNeueBd.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
    font-family: "helvetica regular";
    src: url("./fonts/HelveticaNeue.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
    font-family: "montserrat bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
    font-family: "montserrat regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}



* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.mainContainer {
    overflow: auto;
}


.container {
    width: 96%;
    margin: auto;
    /* overflow-y: auto; */
    height: 100%;
    position: relative;

}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

.container:focus {
    border: 1px solid;
}

header{
    border-bottom: 2px dotted #d5d5d5;
    padding-bottom: 22px;
}
.category{
    display: flex;
    border-bottom: 2px dotted #d5d5d5;
    align-items: center;
}
.categoryTitleCnt {
    padding: 13px 0px;
}
.categoryTitleCnt.twoCnt {
    padding: 42px 0px;
}
.categoryTitleCnt.right{
    background: #C0D9A8;
    padding: 13px 25px;
}
.categoryTitleCnt.wrong{
    background: #E4A6AD;
    padding: 13px 25px;
}
/* .category-0 {
    width: 8.33%;
}

.category-1 {
    width: 16.66%;
}

.category-2 {
    width: 50%;
}

.category-3 {
    width: 162px;
    padding: 24px 7px;
    background: #000;
}

.category-4 {
    width: 25%;
}

.category-5 {
    width: 20%;
}

.category-6 {
    width: 16.66%;
}

.category-7 {
    width: 14.28%;
}

.category-8 {
    width: 12.5%;
}

.category-9 {
    width: 11.11%;
}

.category-10 {
    width: 10%;
}

.category-11 {
    width: 9.09%;
} */


.draggableitemWraper-3 {
    width: 33.33%;
}

.draggableitemWraper-4 {
    width: 25%;
}




.row::after {
    content: "";
    clear: both;
    display: table;
}

/* [class*="category-"] {
    float: left;
    padding: 10px 30px;
    /* border: 1px solid red; */

.feedback{
    display: none;
}
.feedback p{
    font-size: 18px;
    line-height: 26px;
    width: 689px;
    font-family: 'helvetica regular';
    font-weight: 700;
    letter-spacing: 1px;
}
.draggableitemWraper {
    position: absolute;
    left: 0;
    width: 358px;
    border-radius: 14px;
}
.draggableitemWraper_1{
    left: 15px;
}
.draggableitemWraper_2{
    left: 30px;
}
.draggableitemWraper_3{
    left: 45px;
}
.draggableitemWraper_4{
    left: 60px;
}
.draggableitemWraper_5{
    left: 75px;
}
.draggableitemWraper_6{
    left: 90px;
}
.draggableitemWraper_7{
    left: 105px;
}


.nav-container {
    position: relative;
    width: 100%;
    height: 73px;
    /* display: none; */
}
.nav-container button{
    background: #d5440b;
    border: none;
    padding: 8px 24px;
    opacity: 0.65;
    color: #fff;
    font-family: 'helvetica bold';
    font-size: 22px;
    border-radius: 10px;
}
.submit_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;
}


.tryagain_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;

}

.reset_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;

}

.submit_btn>svg,
.tryagain_btn>svg,
.reset_btn>svg {
    width: 100%;
    height: 100%;
}

/* 
.container::after {
    content: "continar box";
    display: table;
    clear: both;
} */

*,
::after,
::before {
    box-sizing: border-box;
}

#title {
    font-size: 20px;
    line-height: 28px;
    margin: 7px 0 12px 0px; 
    font-family: "helvetica bold";
}

/* #instructionbold {
    margin: 1% 5% 0% 5%;
    font-weight: bold;
    margin-top: 1%;
    width: 90%;
} */


.settingContainer {
    top: 0;
    right: 24px;
    position: fixed;
}

.setting {
  background: none;
  border: none;
}

.showText {
    background: #5f6062;
    color: #fff;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}



.settinToolsContainer {
    background: #BFBFBF !important;
    padding: 15px;
    border-radius: 6px;
    color: #001936;
    box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -webkit-box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112,112,112,1);
    position: absolute;
    top: 5px;
    right: 0px;
    width: 450px;
    z-index: 9;
    display: none;
}
.toolTxt{
    font-family: 'helvetica regular';
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.toolsCnt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: -6px;
    top: -6px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.toolContainer {

    background: none;
    padding: 0px;
    outline: none;
    margin-right: 5px;
    border: none;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.toolsCnt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.showhide {
    display: block;
}

.help-popup{
    position: absolute;
    background: #5e6062;
    right: 26px;
    width: 612px;
    padding: 22px 66px 14px 20px;
    z-index: 99;
    top: 0;
    display: none;
}
.help-popup .popup-close{
    color: #ffff;
    z-index: 99999999;
    font-size: 25px;
    background: none;
    position: absolute;
    right: 16px;
    top: 16px;
}
#instructionnorm {
    font-family: montserrat regular;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

.categoryContainer {
    position: relative;


}

.content {
    overflow: auto;
}

.contentMac {

    margin-top: 35px;
    min-height: 586px;

}

.submited .correct:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url(../images/correct.png);
    background-size: contain;
    top: -8px;
    right: -8px;
    position: absolute;
    background-repeat: no-repeat;
}

.submited .incorrect:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url(../images/incorrect.png);
    background-size: cover;
    top: -8px;
    right: -8px;
    position: absolute;
    background-repeat: no-repeat;
}


hr.first {
    border-top: 1px dashed #707070;
    margin: 20px 0px;
}

.dragableItemContainer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: end;
}

.draggableitem {
    font-size: 16px;
    padding: 7px 16px;
    text-align: start;
    box-shadow: 1px 4px 7px 0px #abaaaa;
    background: white;
    border-radius: 14px;
    min-height: 9vh;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'helvetica regular' !important;
}

#loadingImg {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    /* half width*/
    margin-top: -100px;
    /* half height*/
}


input[type=button] {
    border: 0px solid transparent;
    outline: 0;
    font-size: 0px;
    /* background-color: transparent; */
}

input[type=button]:focus {
    outline: auto;
    border: 0px solid;
}

button {
    border: 0px solid transparent;
    outline: 0px solid transparent;
    font-size: 0px;
}

button:focus {
    outline: 1px solid red;
    border: 0px solid transparent;
}

.template {
    width: 99.6%;
    height: 99.6%;
    position: absolute;
    top: 0.2%;
    left: 0.2%;
}

.categoryTitle {
    font-size: 18px;
    line-height: 24px;
    width: 176px;
    padding: 22px 16px;
    background: #000;
    border-radius: 10px;
    font-family: "helvetica bold" !important;
}
.categoryTitle.paddingCnt {
    font-size: 18px;
    line-height: 24px;
    width: 176px;
    padding: 50px 16px;
    background: #000;
    border-radius: 10px;
    font-family: "helvetica bold" !important;
}
.categoryDroppableCnt{
    padding: 14px 0px;
}

.category .draggableitemCnt {
    margin: 0px 0px 10px 0px;
    position: relative;
    width: 358px;
    margin-left: 14px;
    float: left;
    white-space: normal;
}

.catHr {
    border-top: 1px dashed #707070;
    margin: 0px 0px;
    display: none;
}
.bottom-btn {
    background: #5e6062;
    font-size: 16px;
    color: #fff;
    font-family: 'helvetica bold';
    padding: 12px 81px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: none;
}


@media screen and  (device-width: 1350px), (device-height: 760px){
   
    .nav-container button {
        font-family: 'helvetica bold';
        font-size: 20px;
    }
    
}

@media screen and (min-width: 1024px), (max-width: 1349px) {
  
}

@media screen and (max-width: 900px) {
  
}

@media screen and (device-width: 650px), (device-height: 365px){
    .draggableitem {
        font-size: 12px;
        padding: 10px 16px;
        text-align: start;
        box-shadow: 1px 4px 7px 0px #abaaaa;
        background: white;
        border-radius: 14px;
        min-height: 16vh;
    }
    .category .draggableitemCnt {
        width: 270px;
        margin: 0px 0px 0px 15px;
    }
    #instructionnorm {
        font-family: montserrat regular;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
    }
    .help-popup {
        width: 287px;
    }
    .feedback p {
        font-size: 14px;
        line-height: 20px;
        width: 450px;
    }
    .categoryTitle {
        font-size: 18px;
        line-height: 24px;
        width: 176px;
        padding: 6px 16px;
        background: #000;
        border-radius: 10px;
        font-family: "helvetica bold" !important;
    }
    .categoryTitleCnt.right {
        padding: 8px 10px;
    }
    .categoryTitleCnt.wrong {
        padding: 8px 10px;
    }
    header {
        border-bottom: 2px dotted #d5d5d5;
        padding-bottom: 3px;
    }
    .draggableitemWraper {
        width: 270px;
    }
    .nav-container button {
        font-size: 16px;
        line-height: 16px;
    }
    #title {
        font-size: 14px;
        line-height: 20px;
        margin: 7px 0px;
    }
    .categoryTitle {
        font-size: 12px;
        line-height: 16px;
        padding: 7px 16px;
        width: 189px;
    }
    .categoryTitle.paddingCnt {
        font-size: 12px;
        line-height: 16px;
        padding: 16px 16px;
        width: 189px;
    }
    
    
    .categoryTitleCnt {
        padding: 8px 0px;
    }
    .categoryTitleCnt.twoCnt {
        padding: 26px 0px;
    }
    .categoryDroppableCnt{
        height: 82px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media screen and (device-width: 530px), (device-height: 943px), (orientation: portrait) {
    .draggableitemWraper {
        width: 316px;
    }
    .feedback p {
        font-size: 16px;
        line-height: 20px;
        width: auto;
        font-family: 'helvetica regular';
        font-weight: 700;
        letter-spacing: 1px;
    }
    .dragableItemContainer{
        display: block;
    }
    header {
        border-bottom: 2px dotted #d5d5d5;
        padding-bottom: 20px;
    }
    .categoryDroppableCnt {
        padding: 0px 0px;
    }
    
    
    .container {
        width: 90%;
    }
    .draggableitemWraper_0, .draggableitemWraper_1, .draggableitemWraper_2, .draggableitemWraper_3, .draggableitemWraper_4, .draggableitemWraper_5, .draggableitemWraper_6, .draggableitemWraper_7{
        top: 0px !important;
    }
    .draggableitem {
        font-size: 14px;
        min-height: 8vh;
        line-height: 20px;
        border: 0.2px solid #4a4a4a5c;
    }
    #title {
        font-size: 16px;
        line-height: 20px;
        width: 74%;
        margin: 14px 0 12px 0px;
    }
    .draggableitemWraper_1{
        left: 15px !important;
    }
    .draggableitemWraper_2{
        left: 30px !important;
    }
    .draggableitemWraper_3{
        left: 45px !important;
    }
    .draggableitemWraper_4{
        left: 60px !important;
    }
    .draggableitemWraper_5{
        left: 75px !important;
    }
    .draggableitemWraper_6{
        left: 90px !important;
    }
    .draggableitemWraper_7{
        left: 105px !important;
    }
    .category {
        padding: 0px 0px;
        display: block;
        text-align: center;
    } 
    .categoryTitle {
        font-size: 16px;
        line-height: 20px;
        width: 316px;
        padding: 16px 16px;
    }
    .category .draggableitemCnt {
        text-align: center;
        width: 316px;
        float: none;
        white-space: unset;
        margin: 12px auto;
    }
    #instructionnorm {
        font-size: 14px;
        line-height: 18px;
    }
    .help-popup {
        width: 320px;
    }
    .nav-container {
        text-align: center;
    }
    .submit_btn {
        cursor: pointer;
            position: absolute;
    right: 40%;
    }
    .reset_btn {
        cursor: pointer;
            position: absolute;
    right: 40%;
    }
    .tryagain_btn {
        cursor: pointer;
            position: absolute;
    right: 40%;
    }
}

@media screen and (max-width: 529px){
    .draggableitemWraper_0, .draggableitemWraper_1, .draggableitemWraper_2, .draggableitemWraper_3, .draggableitemWraper_4, .draggableitemWraper_5, .draggableitemWraper_6, .draggableitemWraper_7{
        left: 0px !important;
    }
    .draggableitemWraper_0{
        top: 0px !important;
    }
    .draggableitemWraper_1{
        top:  5px !important;
    }
    .draggableitemWraper_2{
        top: 10px !important;
    }
    .draggableitemWraper_3{
        top: 15px !important;
    }
    .draggableitemWraper_4{
        top: 20px !important;
    }
    .draggableitemWraper_5{
        top: 25px !important;
    }
    .draggableitemWraper_6{
        top: 30px !important;
    }
    .draggableitemWraper_7{
        top:    35px !important;
    }
    .feedback p {
        font-size: 16px;
        line-height: 20px;
        width: auto;
        font-family: 'helvetica regular';
        font-weight: 700;
        letter-spacing: 1px;
    }
    .dragableItemContainer{
        display: block;
    }
    .draggableitem {
        font-size: 14px;
        border: 0.2px solid #4a4a4a5c;
        height: auto;
        line-height: 20px;
        box-shadow: 3px 1px 7px 0px #abaaaa;
    }
    .settingContainer {
        text-align: end;
        position: unset;
    }
    #title {
        margin: 0px 0 12px 0px;
    }
    .draggableitemWraper {
    width: 100%;
    margin: auto;
}
#title {
    font-size: 16px;
    line-height: 20px;
}
header {
    padding-bottom: 68px;
}
.categoryTitle {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    padding: 12px 16px;
}
.category {
    padding: 0px 0px;
    display: block;
    text-align: center;
}
.container {
    width: 85%;
}
.help-popup {
    width: 255px;
    padding: 32px 32px 14px 20px;
}
.help-popup .popup-close {
    right: 14px;
    top: 12px;
}
.category .draggableitemCnt {
    width: 100%;
}
#instructionnorm {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
}
.nav-container {
    text-align: center;
}
.submit_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.reset_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.tryagain_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.bottom-btn{
    display: block;
}
.categoryTitleCnt {
    padding: 10px 0px;
}

.categoryDroppableCnt {
    padding: 0px 0px;
}

}