@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/HelveticaNeueBd.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    font-weight:bold;
}

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("./fonts/HelveticaNeue.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}



@font-face {
    font-family: "montserrat bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:bold;
}

@font-face {
    font-family: "montserrat regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:normal;
}

:root {
    --color: #000000;
    --background: #FFF; 
    --selectioncolor: #F5BA5C; 
    --cardCount: 8;
  }

html,body{
    font-size:16px;
}
body {
    margin: 0;
    background-color: #fafafa;
    font-family: "HelveticaNeue-Regular";
    font-weight: normal;
    overflow: hidden;
}
header{
    background: #fff;
    z-index: 999;
   
}


.close-bt:focus, .close-bt:focus-visible{
    outline: 1px solid white;
    border: 1px solid black;
    border-radius: 4px;
}
.close-bt{
    outline: 1px solid transparent;
    border: 1px solid transparent;
}
.toolContainer:focus, .toolContainer:focus-visible{
    border: 2px solid black;
}

.wrong-border-up{
    border: 2px solid red !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.wrong-border-bottom{
    border: 2px solid red !important;
    border-top: none !important;
    cursor: auto !important;
}
.right-border-up{
    border: 2px solid rgb(1, 207, 32) !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.right-border-bottom{
    border: 2px solid rgb(1, 207, 32) !important;
    border-top: none !important;
    cursor: auto !important;
}


.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.submit_btn:focus, .submit_btn:focus-visible, .tryagain_btn:focus,
.tryagain_btn:focus-visible, .reset_btn:focus,
.reset_btn:focus-visible{
    box-shadow: 0 0 0 0.15rem rgb(0 0 255) !important;
}

.btn-submit{
    background: #d4450c;
    border: none;
    padding: 13px 24px 15px 24px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 22px;
    border-radius: 10px;
    line-height: 16px;
}
.toolCnt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolTxt {
    font-family: "HelveticaNeue-Regular";
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
}
.settinToolsContainer {
    width: 232px;
}
.toolContainer {
    background: none;
    padding: 0px;
    outline: none;
    margin-right: 5px;
    border: 2px solid transparent;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.toolContainer_0 {
   
}
.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
    width: 85px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.reset_btn{
    display: none;
}
.tryagain_btn{
    display: none;
}

.btn:hover {
    color: #fff;
}
.sticky .head-btn-wrap{
    position: unset;
}
.activity-header{
    border-bottom: solid 1px #ddd;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding-bottom: 22px;
    /* position: fixed; */
    width: 100%;
    min-height: 82px;
    
    top: 0px;
}
.activity-content{
    position: fixed;
    height: calc(100vh - 209px);
    top: 209px;
    overflow-y: auto;
    width: 100%;
}
.activity-title{
    color: var(--color);
    font-size: 22PX;
   font-family: "HelveticaNeue-Bold";
   padding: 22px 0;
    font-weight: bold;
    min-height: 71px;
}
.activity-instruction{
    font-weight:normal;
    color: var(--color);
    font-size: 1.5rem;
    margin-top: 20px;
}

.feedback{
    margin-left: 0px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #5e6062;
    font-family: "HelveticaNeue-Regular";
    font-size: 20px;
}

.buttonCont{
    float: right;
}



.selected:focus{
    outline: none;
}

.setting-btn{
    position: fixed;
    right: 12px;
    top: 0;
}
.setting-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.setting-btn .cog{
    background: transparent;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.cog:focus-visible{
    outline: -webkit-focus-ring-color auto 2px;;
}


.head-btn{
    position: relative;
    right: 14px;
    text-align: end;
}
.head-btn-wrap{
    width: 100px;
    z-index: 1;
    float: right;
}
.sticky .head-btn-wrap{
    position: unset;
}
.head-btn .notice-card {
    right: 28px;
    text-align: start;
    position: absolute;
    background: #5e6062;
    color: #fff;
    width: 619px;
    min-height: 167px;
    padding: 21px 62px 16px 22px;
    top: 0;
    font-size: 20px;
    display: none;
    line-height: 26px;
    font-family: "HelveticaNeue-Regular";
}


.notice-card p{
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.head-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 20px 8px 2px 8px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.head-btn .cog{
    background: transparent;
    color: #fff;
    padding: 2px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.notice-card button{
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 17px;
    font-weight: normal;
}






@media screen and  (device-width: 1350px), (device-height: 760px){
  
    .activity-title {
        font-size: 22PX;
        line-height: 28px;
        width: 808px;
    }

    .head-btn .notice-card {
        width: 547px;
    }

    
}

@media screen and (min-width: 1024px), (max-width: 1349px) {

}
@media (min-width: 1200px){

}

@media screen and (max-width: 900px) {
   
}

@media screen and (device-width: 650px), (device-height: 365px){
    .activity-header{
        /* position: fixed; */
        width: 100%;
        /* height: 49%; */
    }
   .top-description{
        height: 50px;
   }


    .feedback {
        /* width: calc(100% - 135px); */
        margin-left: 0px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #5e6062;
        font-size: 16px;
    }
    .notice-card button {
        top: 10px;
        right: 7px;
    }
    .activity-content{
        position: fixed;
        top: 52%;
        height: 51%;
        overflow-y: auto;
    }

    .head-btn .notice-card {
    width: 301px;
    font-size: 14px;
    font-family: "HelveticaNeue-Regular";
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 19px 18px 16px 15px;
    }
   
    .activity-title {
        font-size: 16px;
       font-family: "HelveticaNeue-Bold";
        line-height: 20px;
        max-height: 141px;
    }


}

@media screen and (device-width: 530px), (device-height: 943px), (orientation: portrait) {
    .activity-header{
        /* position: fixed; */
        width: 100%;

    }
    .activity-content{
        top: 250px;
    }
    .feedback {
        /* width: calc(100% - 135px); */
        margin-left: 0px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #5e6062;
        font-size: 16px;
    }
  
    .matching-items .matching-item {
        width: 198px;
    }
    .activity-title {
        font-size: 17px;
       font-family: "HelveticaNeue-Bold";
        font-weight: bold;
        line-height: 22px;
    }

    .head-btn .notice-card {
        width: 303px;
        font-size: 14px;
        line-height: 18px;
    }
    .notice-card button {
        right: 7px;
        top: 10px;
    }
    .notice-card p {
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 18px;
    }
 

}

@media screen and (max-width: 529px){
    
  
    .activity-header{
        /* position: fixed; */
        width: 100%;
    }
    .activity-content{
        position: fixed;
        overflow-y: auto;
    }
    .feedback{
        width: 100%;
        margin: 0;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 20px;
    }
  
    .head-btn .notice-card {
        width: 547px;
        line-height: 20px;
    }
    .activity-title {
        padding-top: 0;
    }
    
 
    .head-btn-wrap{
        position: unset;
    }
    .setting-btn {
        position: unset;
        right: 12px;
        top: 0;
        text-align: end;
    }
    .head-btn .notice-card {
        width: 255px !important;
    }
    .head-btn .notice-card {
        padding: 27px 18px 16px 15px;
    }
    
    

    .settings-container{
        width: 232px;
    }

    .toolContainer_0 {
        width: 100%;
    }

   
}


